.product-info {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 1rem;
}

/*description*/
.product-info .description {
  width: 400px;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-info .description .price {
  color: #d74a49;
  font-weight: 500;
}
.product-info .subtitle {
  text-align: center;
  padding: 3rem 0 1rem 0;
}
